h5py
idna
ipykernel
ipython
MarkupSafe
matplotlib
matplotlib-inline
numpy
openpyxl==3.1.5
packaging
pandas==1.5.3
parso
pathtools
pexpect
Pillow
platformdirs
plotly
ply==3.11
rasterio==1.4.3
scikit-learn
scipy==1.10.1
seaborn
torch==2.0.0
torchaudio==2.0.0
torchdiffeq
torchvision==0.15.0
tqdm
wandb